/* Animal Crossing Font */

@font-face { 
    font-family: "AnimalCrossingFont"; 
    src: url("./MyFont-Medium.otf");
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    min-height: 100%;
}

/* Title Image */

.titleimg {
    min-width: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titleimg img {
    width: 500px;
}

/* Body Styling */

body, html {
    background-image: url("images/pattern.png");
    background-repeat: repeat;
    background-size: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

/* Subtitle: New Passwords! */

.subtitle, h2 {
    font-family: "AnimalCrossingFont";
    font-size: 80px;
    color: #D8B73D;
    -webkit-text-stroke: 2px #725025;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

/* Largest Container for Isabelle & Password Box */

.mainboxisabelle {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.emptybox {
    flex-basis: 20%;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    border-style: dashed;
    border-radius: 20px;
    flex-basis: 60%;
    min-height: 40vh;
    background-color: rgb(255, 252, 203);
    align-items: center;
}

.isabelle {
    flex-basis: 20%;
}

.isabelle img { 
    max-width: 20vw;
}

.yournewpassword {
    text-align: center;
    font-family: "AnimalCrossingFont";
    font-size: 40px;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 0.01px #725025;
    text-shadow: 2px 2px #000000;
}

.passwordbox {
    border-style: solid;
    color: #725025;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    border-width: 3px;
    min-width: 90%;
    min-height: 30%;
}

/* Buttons */

.buttons {
   text-align: center;
}

button {
    margin: 2px;
}